*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
   border: 1px solid red;
   display:block;
   box-sizing: border-box;
}
html, body{
    font-size: 16px;
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    box-sizing: border-box;
}

a{
    color: rgb(83, 110, 232);
}
/*-- header for full screen */
.header-laptop{
    height: 64px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 1.5rem;
    z-index: 10;
}

.header-laptop #logo{
    display: flex;
    align-items: center;
}

/*header for mobile screen*/
.header-mobile{
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    height: 64px;
    width: 100%;
    padding: 0.7rem 1.5rem;
    justify-content: space-between;
    background-color: white;
    display: none;
    z-index: 10;
    
}

header li{
    display: inline;
    padding: 0 0.5rem;
}

/*Main frame */

.main{
    margin-top: 64px;
    width: 100%;
}

/* the first banner section*/
.banner-section{
    padding: 2rem 1.5rem;
    display: flex;
    background-color: lightgrey;
    width: 100%
}

.banner-img{
    width: 60%;
    height: auto;
}


#banner-section-text{
    min-width: 240px;
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem 3rem 2rem 2rem;
    justify-content: center;
}

#banner-section-text p, h1{
    padding: 1rem 0;
}

#banner-section-text #button{
    text-align: center;
    background-color: grey;
    color: white;
}

/* the second section - information section*/

.information-section{
display: flex;
flex-flow: row nowrap;
width: 100%;
}
.main-information{
    padding: 2rem 1.5rem;
    width: 60%;
}

.main-information h1{
    padding: 2rem auto 1.5rem auto;
}

aside{
    margin: 2rem 0;
}

.small-info-squares{
    padding: 2rem 0;
    border-left: 0.5px solid lightgrey;
    width: 40%;
    height: auto;
}

#orientation{
    padding: 0 1rem 1rem;
    border-bottom: 0.5px solid lightgrey;    
    display: flex;
    align-items: flex-start;
    height: 33%;
}

#orientation-image{
    background-image: url("../images/information-orientation.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 35%;
    height: 100%;
    min-height: 100px;
    min-width: 150px;
}

#our-campus{
    padding: 1rem;
    border-bottom: 0.5px solid lightgrey; 
    border-top: 0.5px solid lightgrey;  
    display: flex;
    align-items: flex-start;
    height: 33%;
}

#our-campus-image{
    background-image: url("../images/information-campus.jpg");
    background-size: cover;
    width: 35%;
    height: 100%;
    min-height: 100px;
    min-width: 150px;
}

#guest-lecture{
    padding: 1rem;
    border-bottom: 0.5px solid lightgrey;    
    display: flex;
    background-color: lightgrey;
    align-items: flex-start;
    height: 34%;
}

#guest-lecture-image{
    background-image: url("../images/information-guest-lecture.jpg");
    background-size: cover;
    width: 35%;
    height: 100%;
    min-height: 100px;
    min-width: 150px;

}

#square-text{
    display:flex;
    flex-flow: column;
    justify-content: space-evenly;
    padding: 3%;
    margin: auto auto auto 0px;
    flex: 0.5 0.5 200px;
    min-height: 100px;
}

@media only screen and (max-width: 480px) {
    .header-laptop{
       display: none;
    }
   .header-mobile{
       display: flex;
   }

   .main{
    margin-top: 0;
   }

   .banner-section{
    padding: 2rem 0;
    display: block;
   }
   .banner-img{
    width: 100%;
   }

   .information-section{
    display: block;
   }

   .main-information{
    display: none;
    }

    #square-text{
    width: 100%;
    }
    #orientation, #our-campus, #guest-lecture{
        display: block;
        width: 100%;
        padding: 0;
    }
    
    .small-info-squares{
        border-left: none;
        width: 100%;
        display: block;
    }

    #orientation{
        border-bottom:none;
    }

    #orientation-image{
        background-image: url("../images/information-orientation-mobile.jpg");
    }

    #our-campus-image{
        background-image: url("../images/information-campus-mobile.jpg");

    }

    #guest-lecture{
        background-color: white;
    }
    #guest-lecture-image{
        background-image: url("../images/information-guest-lecture-mobile.jpg");

    }

    #orientation-image, #guest-lecture-image, #our-campus-image{
        width: 100%;
        height: auto;
        min-height: 150px;
    }


}

footer{
    margin: 1rem;
}