*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
   box-sizing: border-box;
}

html{
    font-size: 16px;
    margin: 0;
    padding: 0;
    border: 0;
    display:inherit;
    
}

body{
    box-sizing: border-box;
    min-width: 930px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

a{
    color: rgb(83, 165, 232);
}
.grey-background{
background-color: lightgrey;
}

h1{
font-size: 3rem;
font-weight: 800;
color: rgb(76, 81, 81);
}

h2{
    font-size: 2.5rem;
    font-weight: 750;
    padding-bottom: 1.5rem;
    color: rgb(76, 81, 81);
}


h3{
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(76, 81, 81);
}

p{
    line-height: 1.5rem;
}

aside{
    font-weight: 600;
}

footer p{
    font-size: 0.9rem;
}

.mobile{
    display: none;
}

.header-laptop li{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(76, 81, 81);
    font-weight: 500;
}

.header-laptop p{
    font-size: 1.2rem;


}

.logo-text{
    color: rgb(76, 81, 81);
    font-weight: bold;
}

/*-- header for full screen */
.header-laptop{
    height: 64px;
    width: 100%;
    min-width: 840px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 1.5rem;
    z-index: 10;
}

.header-laptop #logo{
    display: flex;
    align-items: center;
}


/*header for mobile screen*/
.header-mobile{
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    height: 64px;
    width: 100%;
    padding: 0.7rem 1.5rem;
    justify-content: space-between;
    background-color: white;
    display: none;
    z-index: 10;
    
}

header li{
    display: inline;
    padding: 0 0.5rem;
}

/*Main frame */

.main{
    margin-top: 64px;
    width: 100%;
}

/* the first banner section*/
.banner-section{
    padding: 2rem 1.5rem;
    display: flex;
    width: 100%
}

.banner-img{
    width: 60%;
    height: auto;
}


#banner-section-text{
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 2;
    gap: 2rem;
    padding: 2rem 8rem 2rem 2rem;
    justify-content: center;
}

#banner-section-text p{
    padding: 1rem 0;
}

#banner-section-text #button{
    text-align: center;
    background-color: rgb(76, 81, 81);
    color: white;
    font-weight: 600;
    letter-spacing: 0.05rem;
}

/* the second section - information section*/

.information-section{
display: flex;
flex-flow: row nowrap;
width: 100%;
}
.main-information{
    padding: 2rem 1.5rem;
    width: 60%;
}

.main-information h1{
    padding: 2rem auto 1.5rem auto;
}

.main-information img{
    padding-bottom: 2rem;
}

aside{
    margin: 2rem 0;
}

.small-info-squares{
    padding: 2rem 0;
    border-left: 0.5px solid lightgrey;
    width: 40%;
    height: auto;
}

#orientation{
    padding: 0 1rem 1rem;
    border-bottom: 0.5px solid lightgrey;    
    display: flex;
    align-items: flex-start;
    height: 33%;
}

#orientation-image{
    background-image: url("../images/information-orientation.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 35%;
    height: 100%;
    min-height: 100px;
    min-width: 150px;
}

#our-campus{
    padding: 1rem;
    border-bottom: 0.5px solid lightgrey; 
    border-top: 0.5px solid lightgrey;  
    display: flex;
    align-items: flex-start;
    height: 33%;
}

#our-campus-image{
    background-image: url("../images/information-campus.jpg");
    background-size: cover;
    width: 35%;
    height: 100%;
    min-height: 100px;
    min-width: 150px;
}

#guest-lecture{
    padding: 1rem;
    border-bottom: 0.5px solid lightgrey;    
    display: flex;
    align-items: flex-start;
    height: 33%;
}

#guest-lecture-image{
    background-image: url("../images/information-guest-lecture.jpg");
    background-size: cover;
    width: 35%;
    height: 100%;
    min-height: 100px;
    min-width: 150px;
}

#square-text{
    display:flex;
    flex-flow: column;
    gap: 0.5rem;
    padding: 3%;
    margin: auto auto auto 0px;
    flex: 0.5 0.5 200px;
    min-height: 100px;
    width: 65%;
}

/*third section*/

#start-learning{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 4.5rem 2rem;
    gap: 2rem;
}

.center{
    text-align: center;
    padding: 2rem 0;
}

#software-engineering, #computer-art, #design, #data, #business, #marketing{
    max-width: 532px;
    min-width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 30%;
}

#start-learning p{
    display: flex;
    flex-wrap: wrap;
    max-width: 532px;
}

#start-learning .text-square{
    padding: 1rem 1rem 1.5rem 1rem;
}

#start-learning h3, #start-learning h4, #thesis-exhibit-video-section h3{
    padding-bottom: 0.5rem;
}

#start-learning img{
    height: auto;
    width: 100%;
    min-width: 300px;
}

#thesis-exhibit{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 0 1.5rem 2rem 1.5rem;
    border-bottom: 0.5px dotted lightgrey;
}

#thesis-exhibit-video-section{
    width: 60%;
    padding-right: 1.5rem;
}

#thesis-exhibit-video-section video{
    padding-bottom:  1.5rem;
}

#thesis-exhibit img{
    width: 35%;
    height: auto;
    padding-right: 1rem;
}

#thesis-text{
    padding: 1rem; 
    display: flex;
    align-items: flex-start;
    height: 33%;
}

footer{
    padding: 1rem 1.5rem 3rem;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
    padding: 0 1rem;
}

@media only screen and (max-width: 480px) {
    body{
        min-width: 0;
    }

    .laptop{
        display: none;
    }

    .mobile{
        display:contents;
    }

    .header-laptop{
       display: none;
    }

   .header-mobile{
       display: flex;
   }

   .main{
    margin-top: 0;
   }

   .banner-section{
    padding: 2rem 0 0;
    display: block;
   }

   #banner-section-text{
    padding: 2rem 1rem;
   }

   #banner-section-text #button{
    background-color: rgb(143, 143, 143);
   }

   .banner-img{
    width: 100%;
   }

   .information-section{
    display: block;
   }

   .main-information{
    display: none;
    }

    #square-text{
    width: 100%;
    padding: 4rem 1rem;
    }

    #guest-lecture  #square-text{
        width: 100%;
        padding: 4rem 1rem 2rem;
        }
    
    #orientation, #our-campus, #guest-lecture{
        display: block;
        width: 100%;
        padding: 0;
    }
    
    .small-info-squares{
        border-left: none;
        width: 100%;
        display: block;
        padding: 1rem 0 0;
    }

    #orientation{
        border-bottom:none;
    }

    #orientation-image{
        background-image: url("../images/information-orientation-mobile.jpg");
    }

    #our-campus-image{
        background-image: url("../images/information-campus-mobile.jpg");

    }

    #guest-lecture{
        background-color: white;
    }
    #guest-lecture-image{
        background-image: url("../images/information-guest-lecture-mobile.jpg");

    }

    #orientation-image, #guest-lecture-image, #our-campus-image{
        width: 100%;
        height: auto;
        min-height: 150px;
    }

    #start-learning{
        flex-direction: column;
        align-content: center;
        gap: 0.5rem;
        background-color: white;
        border-bottom: 1px solid lightgrey;
        padding: 0 0 2rem;
    }

    #start-learning-header{
        background-color: white;
    }

    #start-learning .text-square{
        background-color: lightgrey;
    }

    #start-learning p, #start-learning img, #start-learning h4{
    display: none;
    }

    #software-engineering, #computer-art, #design, #data, #business, #marketing{
        max-width:90%;
        min-width: 90%;

    }


    .center{
        padding: 2rem 0 1rem;
    }

    #thesis-exhibit{
        padding: 0;
    }

    #thesis-exhibit h3, #thesis-exhibit p, #thesis-articles{
        display: none;
    }

    #thesis-exhibit-video-section{
        width: 100%;
        padding: 0;
    }

    .float-right{
        display: none;
    }

    footer{
        padding: 1rem 1rem 2rem;
    }


}

